package configuration

type config struct {
	MySQL struct {
		Host         string
		Username     string
		Password     string
		DatabaseName string
	}
}

var Config config

func init() {
	Config.MySQL.DatabaseName = "db_test"
	Config.MySQL.Host = "127.0.0.1"
	Config.MySQL.Password = "dbpassword"
	Config.MySQL.Username = "dbusername"
	Config.JWTSecret = []byte("codeSecret")
}